@import 'reset';
@import 'libs';
@import 'vars';
@import 'global';
@import 'fonts';



// HEADER //
.header {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    background-color: #fff;
    z-index: 20;

    &__container {
        display: flex;
        align-items: center;
        height: 123px;
        gap: 20px;

        @media (max-width: 767.98px) {
            justify-content: space-between;
            height: 82px;
        }

        @media (max-width: 575.98px) {
            height: 60px;
        }
    }

    &__body {
        display: flex;
        align-items: center;
        flex: 1 1 auto;
        justify-content: flex-end;
        gap: 20px;
        flex-wrap: nowrap;

        // BURGER MENU //
        @media (max-width: 767.98px) {
            position: fixed;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            width: 100%;
            height: 100%;
            left: -100%;
            top: 0;
            padding: 120px 20px 40px 20px;
            background-color: rgb(255, 255, 255);
            transition: all 0.3s ease;
            overflow: auto;

            &::before {
                content: '';
                width: 100%;
                position: fixed;
                top: 0;
                left: -100%;
                transition: left 0.3s ease 0s;
                background-color: rgb(255, 255, 255);
                height: 70px;
                z-index: 7;
            }
        }
    }

    &__menu {
        margin: 0 auto;

        @media (max-width: 767.98px) {
            margin: 0;
            width: 100%;
        }
    }

    &__btn {
        text-align: center;
        padding: 16px 24px;
        height: 49px;
        border: 1px solid #F1F1F1;
        border-radius: 8px;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.21;
        background-color: #fff;
        transition: background-color .3s, transform .1s;

        &:hover {
            background-color: #91d5ff;
        }

        &:active {
            transform: scale(0.9);
        }

        @media (max-width: 767.98px) {
            width: 100%;
        }
    }
}

.menu-header {
    &__list {
        display: flex;
        align-items: center;
        column-gap: 56px;
        row-gap: 20px;

        @media (max-width: 767.98px) {
            flex-direction: column;
            align-items: flex-start;
        }
    }

    &__item {
        width: 100%;
    }

    &__link {
        display: block;
        position: relative;
        line-height: 1.18;
        padding-bottom: 2px;

        &::after {
            content: '';
            position: absolute;
            display: block;
            width: 0;
            height: 2px;
            left: 0;
            bottom: 0;
            background-color: #232E35;
            transition: width .1s ease-in-out;
        }

        &:hover {
            &::after {
                width: 100%;
            }
        }

        &:active {
            color: #6cbef1;

            &::after {
                background-color: #91d5ff;
            }
        }

        @media (max-width: 767.98px) {
            padding: 10px 0;
        }
    }
}



//===BURGER MENU ICON ===//

.icon-menu {
    display: none;
    z-index: 4;

    @media (max-width: 767.98px) {
        display: block;
        flex: 0 0 30px;
        height: 18px;
        position: relative;
        z-index: 5;

        span,
        &::before,
        &::after {
            content: '';
            position: absolute;
            width: 100%;
            right: 0;
            height: 2px;
            background-color: rgb(0, 0, 0);
            transition: all 0.3s ease;
        }

        &::before {
            top: 0;
        }

        &::after {
            bottom: 0;
        }

        span {
            top: calc(50% - 1px);

        }
    }
}

//== LISTENER FOR MENU ==//
.menu-open {
    .header__body {
        left: 0;

        &::before {
            left: 0;
        }
    }
}


.hero {
    padding-top: 264px;
    padding-bottom: 140px;

    @media (max-width:992.98px) {
        padding-top: clamp(120px, 26.639vw, 264px);
    }

    @media (max-width:768.98px) {
        padding-bottom: 100px;
    }

    &__container {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        gap: 20px;

        @media (max-width:1024.98px) {
            justify-content: center;
        }
    }

    &__main {}

    &__img {
        img {
            display: block;
            max-width: 100%;
            height: auto;
        }
    }
}



.main-hero {
    &__label {
        margin-bottom: 16px;
    }

    &__title {
        font-size: 44px;

        span {
            color: #7E74F1;
        }

        margin-bottom: 32px;
    }

    &__text {
        max-width: 583px;

        &:not(:last-child) {
            margin-bottom: 40px;
        }

        p {
            &:not(:last-child) {
                margin-bottom: 10px;
            }
        }
    }

    &__social {}
}






// REUSABLE BLOCK SOCIAL //
.social-list {
    display: flex;
    align-items: flex-end;
    column-gap: 32px;
    row-gap: 10px;
    flex-wrap: wrap;

    &__item {}

    &__link {
        display: block;
        transition: filter .2s, transform .1s;

        &:hover {
            filter: invert(39%) sepia(98%) saturate(1712%) hue-rotate(224deg) brightness(105%) contrast(89%);
        }

        &:active {
            transform: scale(0.8);
        }
    }
}


// SPECIALIZED // 
.page__specialized {}

.specialized {
    padding: 140px 0;

    @media (max-width:768.98px) {
        padding: 100px 0;
    }

    &__container {}

    &__top {
        margin-bottom: 50px;
    }

    &__items {}
}

.items-specialized {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 50px;
    row-gap: 20px;

    &__item {
        flex: 0 1 361px;
        padding: 53px 57px;
        text-align: center;
        border: 1px solid rgba(0, 0, 0, 0.050);

        @media (max-width: 425.98px) {
            padding: 0;
            border: none;
        }
    }

    &__icon {
        width: 56px;
        height: 56px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 24px;
        background: #F5F3FE;
        border-radius: 16px;
    }

    &__subtitle {
        font-weight: 500;
        line-height: 1.25;
        margin-bottom: 16px;
    }

    &__text {
        display: block;
        font-size: 14px;
        line-height: 1.7;
        text-align: center;
    }
}


// PORTFOLIO //

.portfolio {
    padding: 140px 0;

    @media (max-width:768.98px) {
        padding: 100px 0;
    }

    &__container {}

    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        column-gap: 30px;
        row-gap: 15px;
        flex-wrap: wrap;
        margin-bottom: 80px;
        @media (max-width:768.98px) {
            margin-bottom: 50px;
        }
    }

    &__top-title {}

    &__buttons {
        display: flex;
        gap: 16px;
    }

    &__slider {}
}

.buttons-portfolio {
    &__btn {
        position: relative;
        width: 40px;
        height: 40px;
        background-color: #EAE6FE;
        border-radius: 16px;
        cursor: pointer;

        img {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }
    }
}




.slider-portfolio {
    &__wrapper {}

    &__items {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 20px;

        @media (max-width:768.98px) {
            flex-direction: column;
            flex-wrap: nowrap;
        }
    }

    &__item {
        flex: 0 1 30.26%;
    }

    &__img {
        position: relative;
        border-radius: 8px;
        overflow: hidden;
        padding-bottom: 81%;

        img {
            position: absolute;
            display: block;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            object-fit: cover;
            opacity: 0.5;
            transition: .2s;

            &:hover {
                opacity: 1;
                transform: scale(1.1);
            }
        }
    }

    &__content {
        padding: 24px;
        border-width: 0px 1px 1px 1px;
        border-style: solid;
        border-color: #F5F5F5;
        border-radius: 0px 0px 8px 8px;

    }

    &__name {
        display: block;
        font-family: 'Plus Jakarta Sans';
        font-weight: 500;
        line-height: 1.25;
        margin-bottom: 16px;
    }

    &__body {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 16px;
    }

    &__tag {
        padding: 4px 8px;
        font-weight: 500;
        font-size: 12px;
        line-height: 1.25;
        color: #656D72;
        border: 1px solid #F1F1F1;
        border-radius: 4px
    }

    &__link {
        display: block;
        transition: filter .2s, transform .1s;

        &:hover {
            filter: invert(39%) sepia(98%) saturate(1712%) hue-rotate(224deg) brightness(105%) contrast(89%);
        }

        &:active {
            transform: scale(0.8);
        }
    }
}


// WORK EXPERICES SECTION //
.experices {
    padding: 140px 0;

    @media (max-width:768.98px) {
        padding: 100px 0;
    }

    &__container {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        column-gap: 137px;
        row-gap: 30px;

        @media (max-width:1024.98px) {
            flex-direction: column;
            align-items: stretch;
        }
    }

    &__side {}

    &__top {
        margin-bottom: 80px;

        @media (max-width:1024.98px) {
            margin-bottom: 40px;
        }
    }

    &__tabs {}

    &__body {
        flex: 0 0 58.7%;
    }

    &__content {}
}







.tabs-expericed {

    &__nav {
        @media (max-width:1024.98px) {
            flex-wrap: wrap;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        @media (max-width:768.98px) {
            justify-content: flex-start;
        }
    }

    &__item {}

    &__btn {
        display: block;
        width: 100%;
        text-align: left;
        padding: 14px 24px;
        line-height: 1.18;
        transition: .2s;

        &:not(:last-child) {
            margin-bottom: 8px;
        }

        &.active {
            padding: 14px 32px;
            margin-bottom: 24px;
            font-weight: 500;
            line-height: 1.18;
            color: #7E74F1;

            @media (max-width:1024.98px) {
                padding: 14px 24px;
                font-weight: 400;
                background-color: #7E74F1;
                margin-bottom: 0;
                color: #fff;
            }
        }
    }
}




.content-experices {
    display: none;
    opacity: 0;
    visibility: hidden;

    &__top {}

    &__main {}

    &.active {
        position: relative;
        display: block;
        animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
        animation: textOpacityAnimation .8s;
        animation-fill-mode: forwards;

        &::after {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background-color: rgb(255, 255, 255);
            animation: afterOverlayAnimation .7s;
            animation-fill-mode: forwards;

            @keyframes afterOverlayAnimation {
                0% {
                    height: 100%;
                }

                100% {
                    height: 0%;
                }
            }
        }

        @keyframes textOpacityAnimation {
            0% {
                opacity: 0;
            }

            100% {
                opacity: 1;
                visibility: visible;
            }
        }
    }
}





.content-experices-top {
    padding-bottom: 32px;
    color: #656D72;
    border-bottom: 1px solid #F1F1F1;
    display: flex;
    flex-direction: column;

    &__name {
        font-family: 'Plus Jakarta Sans';
        font-weight: 500;
        font-size: 18px;
        line-height: 1.27;
        margin-bottom: 8px;
        color: #232E35;
    }

    &__location {
        font-size: 14px;
        line-height: 1.21;
        margin-bottom: 16px;
    }

    &__timeline {
        font-weight: 500;
        font-size: 14px;
        line-height: 1.71;
        margin-bottom: 16px;
    }

    &__tags {
        display: flex;
        flex-wrap: wrap;
        gap: 16px;
        align-items: center;
    }

    &__tag {
        padding: 4px 8px;
        border: 1px solid #F1F1F1;
        border-radius: 4px;
        font-weight: 500;
        font-size: 12px;
        line-height: 15px;

    }
}

.content-experices-main {
    padding: 32px 0;
    height: 200px;
    overflow-y: auto;

    &__text {
        position: relative;
        max-width: 621px;
        padding-left: 28px;
        font-size: 16px;
        line-height: 1.18;
        color: #656D72;

        &:not(:last-child) {
            margin-bottom: 17px;
        }

        &::before {
            content: '';
            position: absolute;
            left: 0;
            top: calc(50% - 2px);
            width: 10px;
            height: 2px;
            background-color: #D9D9D9;
        }
    }
}






.blog {
    padding: 140px 0;

    @media (max-width:768.98px) {
        padding: 70px 0;
    }

    &__top {
        margin-bottom: 80px;
        @media (max-width:768.98px) {
            margin-bottom: 50px;
        }
    }

    &__wrapper {
        display: flex;
        justify-content: center;
    }
}

.body-blog {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;

    @media (max-width:992.98px) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width:768.98px) {
        grid-template-columns: repeat(1, 1fr);
    }

    &__wrapper {
        padding: 16px 16px 24px 16px;
        border-width: 0px 1px 1px 1px;
        border-style: solid;
        border-color: #F1F1F1;
        border-radius: 0px 0px 8px 8px;

    }

    &__item {
        max-width: 361px;
        /* flex: 1 0 30.3%; */
        color: #656D72;
    }

    &__img {
        position: relative;
        border-radius: 8px 8px 0 0;
        overflow: hidden;
        /* padding-bottom: 81%; */
        padding-bottom: 67.31%;

        /* 243/361 */
        img {
            position: absolute;
            display: block;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            object-fit: cover;
            transition: .2s;

            &:hover {
                transform: scale(1.1);
            }
        }

    }

    &__subtitle {
        font-family: 'Plus Jakarta Sans';
        font-weight: 500;
        line-height: 1.5;
        margin-bottom: 16px;
        color: #232E35;
    }

    &__date {
        display: block;
        padding: 4px 8px;
        font-weight: 500;
        font-size: 12px;
        line-height: 1.25;
        margin-bottom: 16px;
    }

    &__text {
        line-height: 2;
        margin-bottom: 42px;
    }

    &__btn {
        display: block;
        position: relative;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.21;
        text-align: center;
        transition: .2s;

        &:hover {
            color: #7E74F1;
        }


        &:active {
            color: #6cbef1;
        }

    }
}











.testimonials {
    padding: 140px 0;

    @media (max-width:768.98px) {
        padding: 100px 0;
    }

    &__top {
        margin-bottom: 80px;
        @media (max-width:768.98px) {
            margin-bottom: 50px;
        }
    }

    &__wrapper {

        @media (max-width:992.98px) {
            display: flex;
            justify-content: center;
        }

    }
}

.body-testimonials {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;

    @media (max-width:992.98px) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width:768.98px) {
        grid-template-columns: repeat(1, 1fr);
    }

    &__item {
        display: flex;
        flex-direction: column;
        max-width: 360px;
        padding: 24px 31px;

        border-width: 1px;
        border-style: solid;
        border-color: #F1F1F1;
    }

    &__img {
        margin-bottom: 32px;
        justify-self: center;

        img {
            border-radius: 100%;
            overflow: hidden;
            display: block;
            max-width: 100%;
            margin: 0 auto;
        }
    }

    &__text {
        flex: 1 1 100%;
        line-height: 1.7;
        margin-bottom: 48px;
    }
}

.client-testimonials {
    font-weight: 500;

    &__name {
        font-family: 'Plus Jakarta Sans';
        font-size: 14px;
        line-height: 1.28;
        margin-bottom: 9px;
    }

    &__job {
        padding: 4px 8px;
        font-size: 12px;
        line-height: 1.25;
        color: #656D72;

    }
}







.education {
    padding: 140px 0 100px 0;

    @media (max-width:768.98px) {
        padding: 100px 0 60px 0;
    }

    &__top {
        margin-bottom: 72px;
        @media (max-width:768.98px) {
            margin-bottom: 40px;
        }
    }

    &__container {}

    &__body {
        display: flex;
        justify-content: space-between;
        align-items: center;
        column-gap: 41px;

        @media (max-width:768.98px) {
            flex-direction: column;
            align-items: flex-start;
        }
    }

    &__institutions {
        padding: 40px 0;
    }

    &__skills {
        flex: 0 0 54.225941%;
    }
}




.education-institutions {
    &__list {
        position: relative;
        display: flex;
        flex-direction: column;
        row-gap: 64px;

        @media (max-width:768.98px) {
            row-gap: 25px;
        }

        &::before {
            content: '';
            position: absolute;
            min-height: 100%;
            width: 2px;
            left: 10px;
            background: linear-gradient(#F1F1F1 0 0) calc(5*100%/6);
            background-size: 5px 100%;
            background-repeat: no-repeat;
        }
    }

    &__item {
        position: relative;
        font-size: 14px;
        font-weight: 500;
        padding-left: 38px;

        &::before {
            content: '';
            position: absolute;
            width: 17px;
            height: 17px;
            left: 3px;
            top: 0;
            border-radius: 100%;
            background-color: #F1F1F1;
        }

        &:last-child {
            &::after {
                content: '';
                position: absolute;
                width: 38px;
                height: 100%;
                left: 0;
                top: 17px;
                background-color: #fff;
            }
        }
    }

    &__name {
        margin-bottom: 10px;
        font-family: 'Plus Jakarta Sans';
        font-size: 16px;
        line-height: 1.25;
    }

    &__prof {
        font-weight: 400;
        line-height: 1.21;
        color: #656D72;
        margin-bottom: 24px;
    }

    &__timeline {
        line-height: 1.21;
    }
}

.skills-education {
    &__top {}

    &__text {
        line-height: 2;
        color: #656D72;
        margin-bottom: 64px;
    }

    &__stats {}
}

.skill-stats {
    display: flex;
    flex-direction: column;
    gap: 40px;

    &__progress {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    &__name {
        font-weight: 500;
        font-size: 14px;
        line-height: 1.21;
    }

    &__bar {
        height: 8px;
        background-color: #F5F3FE;
        border-radius: 0px 2px 2px 0px;

        span {
            display: block;
            background-color: #7E74F1;
            height: 100%;
        }
    }
}


.footer {
    padding-top: 140px;

    @media (max-width:768.98px) {
        padding-top: 100px;
    }

    &__container {
        padding-bottom: 140px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        column-gap: 50px;
        row-gap: 40px;
        @media (max-width:992.98px) {
            flex-direction: column;
        }
        @media (max-width:768.98px) {
            padding-bottom: 100px;
        }
    }

    &__form {
        display: flex;
        flex-direction: column;
        flex: 0 0 50.209205%;
    }

    &__address {}

    &__bottom {
        padding: 90px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__copy {
        margin-top: 25px;
    }
}

.form-footer {
    &__inputs {
        &:not(:last-child) {
            margin-bottom: 24px;
        }
    }

    &__input {
        position: relative;
        width: 100%;
        padding: 16px 24px;
        border-radius: 8px;
        border: 1px solid #EAE6FE;

        &:not(:last-child) {
            margin-bottom: 16px;
        }

        &._error {
            box-shadow: 0 0 15px rgba(255, 29, 29, 0.7);
        }
    }

    &__textarea {
        width: 100%;
        resize: none;
        padding: 16px 24px;
        min-height: 189px;
        border: 1px solid #EAE6FE;
        margin-bottom: 48px;
    }

    &__btn {
        padding: 16px 0;
        background-color: #7E74F1;
        border: 1px solid #EAE6FE;
        border-radius: 8px;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.21;
        color: #F5F3FE;
    }
}

.address-footer {
    &__list {}

    &__item {
        padding: 4px 0 4px 80px;
        background-size: 56px 56px;
        background-repeat: no-repeat;
        background-position: left top;

        &:not(:last-child) {
            margin-bottom: 48px;
        }
    }

    &__name {
        font-weight: 500;
        line-height: 1.18;
        margin-bottom: 4px;
    }

    &__link {
        display: block;
        font-size: 14px;
        line-height: 1.71;
        color: #656D72;
        &:hover {
            text-decoration: underline;
        }
    }
}